:root {
  --bg-primary: hsl(0, 0%, 9%);
  --bg-primary-d: hsl(0, 0%, 6%);
  --bg-alt: hsl(0, 0%, 17%);
  --bg-alt-d: hsl(0, 0%, 12%);
  --text-primary: hsl(0, 0%, 98%);
  --text-primary-d: hsl(0, 0%, 93%);
  --text-disabled: hsl(0, 0%, 65%);
  --text-disabled-d: hsl(0, 0%, 60%);
  --btn-primary: hsl(214, 89%, 52%);
  --btn-primary-d: hsl(214, 89%, 47%);
  --btn-secondary: hsl(0, 89%, 29%);
  --btn-secondary-d: hsl(0, 89%, 24%);
  --btn-third: hsl(150, 89%, 29%);
  --btn-third-d: hsl(150, 89%, 24%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

body {
  line-height: 1.75;
  color: var(--text-primary);
}

main {
  min-height: 100dvh;
}

button {
  transition: all 0.3s ease;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
}

.main-menu-button {
  width: 200px;
  height: 40px;
  margin: 10px 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 35px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.popup-wrapper {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.75);
}

.challenge-button {
  width: 110px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border: none;
  border-radius: 10px;
}